<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paiement</title>
    <link rel="icon" type="image/png" href="static/pam.png">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
        <h1 class="size rouge center">PAIEMENT :</h1>
        <h2>Vous avez choisi la formation numero 1</h2>
        <h3 class="orange">frais de la formation 150dt</h3>
        <a href="{{ url_for('bouton_clique3') }}"><button class="size orange">payer</button></a>

</body>
</html>
